  #bar_blank {
    border: solid 1px #000;
    height: 20px;
    width: 300px;
  }
  
  #bar_color {
    background-color: #006666;
    height: 20px;
    width: 0px;
  }
  
  #bar_blank, #hidden_iframe {
    display: none;
  }

  div.progress {
    position: relative;
    top:2px;
    left:2px;
    height:38px;
  }

  div.pbutton {
    position: absolute;
    top:2px;
    left:305px;
  }